.App {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  background-color: #ECEFF1;
  min-height: 100vh;
}

.App-stage {
  display: flex;
  background: #fff;
  margin: 0 5%;
  padding: 0;
  justify-content: space-between;
  min-height: 90vh;
  min-width: 90vw;
}

@media (max-width: 800px) {
  .App-stage {
    display: block;
    margin: 0;
  }
}
